
<%- include ("../partials/_headermap") -%> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map</title>

    <!-- leaflet css  -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@v0.74.0/dist/L.Control.Locate.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.74.4/dist/L.Control.Locate.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />

    <!-- leaflet js  -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.74.0/dist/L.Control.Locate.min.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@v0.74.0/dist/L.Control.Locate.min.js" charset="utf-8"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
</head>

<body>
    <style>
        /* body {
            margin: 0;
            padding: 0;
        } */

        #map {
            width: 100%;
            height: 80vh;
            margin: 0;
        }
    </style>

    <div class="dummy-text">
        <div id="map"></div>
    </div>
</body>


<script>
/* ==================================================
|                 MAP SIZE & ZOOM
=====================================================*/

    var map = L.map('map').setView([3.0733, 101.5185], 11);
    

/* ==================================================
|                 MAP VARIATION
=====================================================*/

    //osm layer
    var osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    });
    //osm.addTo(map);

    //google street
    googleStreets = L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}',{
    maxZoom: 20,
    subdomains:['mt0','mt1','mt2','mt3']
    });
    googleStreets.addTo(map)

    //google satellite
     googleSat = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}',{
    maxZoom: 20,
    subdomains:['mt0','mt1','mt2','mt3']
    });
    // googleSat.addTo(map)
 
/* ==================================================
|                 LAYER CONTROL 
=====================================================*/

    //layer controller
    var baseMaps = {
    "OSM": osm,
    'Google Street': googleStreets,
    "Google Satellite": googleSat
    };

    L.control.layers(baseMaps).addTo(map);


/* ==================================================
|                 MARKING
=====================================================*/

    L.control.locate().addTo(map);

/* ==================================================
|                 SEARCH
=====================================================*/
    L.Control.geocoder().addTo(map);

</script>


<!-- ==================================================
|                 MARKING VENDOR
===================================================== -->
<% for(let vendor of data){ %> 
<script>
    var lat = "<%= vendor.lat %>";
    var long = "<%= vendor.long %>";
    var name = "<%= vendor.companyname %>";
    L.marker([lat,long]).addTo(map)
    var marker = L.marker([lat,long])
    marker
        .bindPopup
        (" <a href = '/customer/cbook/<%=vendor._id%> '> <%-vendor.companyname %><br><%-vendor.companyphone %></a>")
        .addTo(map);
     
</script>
<% } %>
<% if(message.message) { %>
<script>
	alert("<%= message.message %>");
</script>
<% } %>